*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}



/* Esquerda da pagina */

.left-page {

    background-color: #02021c;
    display: block;
    flex-direction: column;
    padding: 20px;
    width: 45%;
    height: 100vh;
    
    
}

a{
    text-decoration: none;
}

h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 35%;
}


p{
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 35%;
    font-weight: 400;
    margin-top: 20px;
}


.button-left{

    
    border-radius: 25px;
    top: 40%;
    left: 25%;
    width: 50%;
    height: 48px;
    display: block;
    position: relative;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
}

.button-left:hover {
    background-color: #43e61a;
    color: #ffffff;
}


/* Esquerda da pagina */


h2{
    
    position: absolute;
    bottom: 20%;
    left: 62%;
    top: 14%;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    width: 25%;
    height: 10%;
    padding: 5px;
}

.form-right{

    position: absolute;
    bottom: 15%;
    left: 62%;
    width: 25vw;
    height: 55vh;
    text-align: center;
}

/* Input */

.input-form{
    margin: 20px;
    padding: 5px;
    border: none;
    border-radius: 26px;
    caret-color: #1100ff;
    background-color:#eef5f3;
    width: 330px;
    height: 48px;
    cursor: pointer;
    outline: none;


   
    
}

.input-form:hover{
    background-color: #c4e217;
    opacity: 0.7;
    outline:none;
    font-size: 15px;
}

::placeholder{
    color: #030303;
    opacity: 0.7;
    padding: 10px;
    
}

/* Fim Input */



/* Redes sociais */
.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
    padding: 5px;
    align-items: center;
    margin-right: 25px;
}

.redes-sociais {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 0.5px solid black;
    margin-left: 25px;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    cursor: pointer;
}

.redes-sociais:first-child {
    margin-left: 0;
}

.redes-sociais:hover {
    background-color: #d2d2e0;
    border: none;
    opacity: 0.8;

    
}

.img-links {
    width: 30px;
    height: 30px;
}


/* Fim das redes sociais */

/* Inicio button cadastrar */
.button-register {

    border-radius: 25px;
    width: 60%;
    height: 45px;
    padding: auto;
    text-align: center;
    line-height: 2px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 10px;
    border: 0.2px solid black;
    outline: none;
    
}

.button-register:hover{
    background-color: #030328;
    color: #ffffff;
}

/* Fim do button de cadastrar */


/* Animação para ir para a esquerda */

  
  /* Animação para ir para a direita */
  .transition-right {
    animation: slide-right 2s ease-in-out forwards;
  }
  
  @keyframes slide-right {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
  }
  
  

